@using System.Web.Mvc.Html
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NSU.ATS-Master</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script type="text/javascript" src="~/Scripts/Reinforced.Lattice/reinforced.lattice.js"></script>

    <script src="~/Scripts/tableassets.js"></script>

    @* <link href="~/Scripts/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" /> *@
    @* <link href="~/Scripts/datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" /> *@
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />

    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NSU.ATS-Master", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Persons", "Index", "Persons")</li>
                    <li>@Html.ActionLink("Addresses", "Index", "Addresses")</li>
                    <li>@Html.ActionLink("Phone Numbers", "Index", "PhoneNumbers")</li>
                    <li>@Html.ActionLink("Phone History", "Index", "PhoneHistory")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ATS Attributes <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("City ATS", "Index", "CityATSAttributes")</li>
                            <li>@Html.ActionLink("Departmental ATS", "Index", "DepartmentalATSAttributes")</li>
                            <li>@Html.ActionLink("Institutional ATS", "Index", "InstitutionalATSAttributes")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("ATS", "Index", "ATS")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NSU.ATS-Master</p>
        </footer>
    </div>
    
    <div class="modal fade" tabindex="-1" id="ltcModalHolder" role="dialog">
    </div><!-- /.modal -->

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

@* <script src="~/Scripts/datetimepicker/js/bootstrap-datetimepicker.min.js"></script> *@
@* <script src="~/Scripts/datepicker/js/bootstrap-datepicker.min.js"></script> *@
<script type="text/javascript" src="/Scripts/moment.min.js"></script>
<script type="text/javascript" src="/Scripts/bootstrap-datetimepicker.min.js"></script>
    
</body>
</html>